.center {
    text-align: center;
}

.bar .custom-icon{
    margin-right: 0;
}

.button-circle {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    border-radius: 50%;
    border: 1px solid #333;
    overflow: hidden;

    /*background: #4679BD;
    box-shadow: 0 0 3px gray;*/
}

.button-circle a {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 1em;
    text-align: center;
    color: #333;
    font-family: Verdana;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    white-space: normal;
}

.extra-title{
    border-top: 1px solid #999;
    padding: 1rem 0;
}

.photo-outer{
    position: relative;
    height: 3.1rem;

}

.photo-select {
    width: 90%;
    margin-left: 5%;
    height: 3rem;
}

.photo-select-style {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: #f7f7f8;
    pointer-events: none;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    cursor: pointer;
}

#bike-show img{
    max-width: 100%;
}

#bike-show {
    margin-top: 1rem;
}